extends layout

block content
	//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	//Developed my Phillip Shvartsman. github=https://github.com/phillip-shvartsman linkedin=https://www.linkedin.com/in/phillip-shvartsman-723856102/
	//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	h1= title
	//-p Welcome to #{title}
	if admin
		p You are signed into the admin account.
		//- button(id='slack-test-message-button') Send Test Slack Message
	if user && !admin
		p You are signed in as #{email}

	if showResetPassword
		include reset-password-modal.pug
	if user && !admin
		include greetings-modal.pug

	//- Flash messages used by the function successFlash and errorFlash
	div(id="successFlash" class="alert alert-success" style="display:none; z-index:500; position:fixed;")
	div(id="errorFlash" class="alert alert-danger" style="display:none; z-index:500; position:fixed;")


	//- If not logged in display the following login form.
	if !user
		div(class="modal fade" id="forgot-password-modal")
				//- When you click on the part in the search results, its information is stored here to be used later.
				div(class="modal-dialog")
					div(class="modal-content")
						#part-options
							div(class="modal-header")
								h4(class="modal-title") Please enter the email for the account.
						form(id="forgot-password-form" class='m-3')
							#input-row.form-row
								div(class="form-group col")
									label(for="email") Email:
									input(type="text" id="forgot-password-email" name="email" min="1" class="form-control" placeholder="Email" required)
							div(class="form-row")
								label(for="send-email")
								button(id="submit-reset-password" type="submit" class="m-3 btn btn-primary") Reset
		div(id="buttons-container")
			button(id="show-login" type="button" class="btn btn-primary mr-3") Login
			button(id="show-register" type="button" class="btn btn-primary") Register

		//- Login Form
		div(class="container" style="display:none" id="login-container")
			form(id="login-form")
				#login-row.form-row
					div(class="form-group col")
						label(for="email") Email
						input(type="text" class="form-control" id="login-email" name="email" placeholder="Email")
					div(class="form-group col")
						label(for="password") Password
						input(type="password" class="form-control" id="login-password" name="password" placeholder="Password")
				div(class="form-row")
					label(for="login")
					button(id="login" type="submit" class="btn btn-primary mr-3") Login
					button(class="cancel-login-register" type="button" class="btn btn-danger mr-3") Cancel
					button(id="forgot-password" type="button" class="btn btn-danger") Forgot Password

		//-Register form.
		div(class="container" style="display:none" id="register-container")
			form(id="register-form")
				#register-row.form-row
					div(class="form-group col")
						label(for='fname') First Name
						input(type="text" class="form-control" id="fName" name="fName" placeholder="First Name" required)
					div(class="form-group col")
						label(for='lname') Last Name
						input(type="text" class="form-control" id="lName" name="lName" placeholder="Last Name" required)
					div(class="form-group col")
						label(for='lname') Dot #
						input(type="number" class="form-control" id="dNum" name="dNum" placeholder="Dot #" required)
				#register-row.form-row
					div(class="form-group col")
						label(for="email") Email
						input(type="email" class="form-control" id="email" name="email" placeholder="Email" required)
					div(class="form-group col")
						label(for="password") Password
						input(type="password" class="form-control password-match" id="password" name="password" placeholder="Password" required minlength="8")
					div(class="form-group col")
						label(for="confirm-password") Confirm Password
						input(type="password" class="form-control password-match" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password" required)
				div(class="form-row")
					label(for="register")
					button(id="register" type="submit" class="btn btn-primary mr-3") Register
					button(class="cancel-login-register" type="button" class="btn btn-danger") Cancel

	//- If the person is logged in display the following loggout form.
	if user
		div(class="form-row")
					label(for="logout")
					button(id="logout" type="button" class="btn btn-primary") Logout
					if user && !admin
						button(id="show-greetings-modal-button" type="button" class="btn btn-primary ml-3") Help

	//- Different tabs at the top of th screen.
	ul(class="nav nav-tabs justify-content-center" id="top-nav")
		li(class="nav-item")
			a(class="nav-link active" href="#" id='search-tab') Search
		if admin
			li(class="nav-item")
				a(class="nav-link" href="#" id="users-tab") Users 
		if user
			li(class="nav-item")
				a(class="nav-link" href="#" id="check-out-tab") Check-outs
			li(class="nav-item")
				a(class="nav-link" href="#" id="requests-tab") Requests


	//-Contains the search form, the search results and associated modals.
	#search-container.container

		//-//////// SEARCH CONTAINER MODALS///////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//- If your just a standard user, add this modal to allow you to set the quantity of an item you want to add to your unapproved checkouts.
		if user && !admin
			div(class="modal fade" id="qty-modal")
				//- When you click on the part in the search results, its information is stored here to be used later.
				div(id="storePart" value="" style="display:none")
				div(class="modal-dialog")
					div(class="modal-content")
						#part-options
							div(class="modal-header")
								h4(id="qty-modal-title" class="modal-title") How much of this item do you want to check out?
						form(id="qty-form" class='m-3')
							#input-row.form-row
								div(class="form-group col")
									label(for="quantity") Quantity
									input(type="number" id="qty" name="qty" min="1" class="form-control" placeholder="Quantity" required)
							div(class="form-row")
								label(for="sendQty")
								button(id="sendQty" type="submit" style="margin:auto" class="btn btn-primary") Save

		//- If you are an admin, you don't have the quantity set modal but you have a modal to change and delete parts from the database.
		if admin
			include check-out-for-user-modal.pug
			div(class="modal fade" id="modify-delete-modal" value="")
				//- When you click on the part in the search results, its information is stored here to be used later.
				div(id="storePart" value="" style="display:none")
				div(class="modal-dialog")
					div(class="modal-content")
						#part-options
							div(class="modal-header")
								h4(class="modal-title" id="modify-delete-modal-title") What do you want to do with this part?
							div(class="modal-body")
								div(class='row')
									div(class="col")
										button(type="button" id="show-check-out-for-user" class="btn btn-primary m-2") Checkout for User
									div(class="col")
										button(type="button" id="modify-button" class="btn btn-primary m-2") Modify
									div(class="col")
										button(type="button" id="delete-button" class="btn btn-danger m-2") Delete
						form(id="modify-form" class='m-3' style="display:none")
							#input-row.form-row
								div(class="form-group col")
									label(for="category") Category
									input(type="text" id="mod-cat" name="cat" class="form-control" placeholder="Category" data-toggle="tooltip" data-placement="top" title="Consumable/IC/MC    Equipment/Sensor/Display  Office Supplies/Other")
								div(class="form-group col")
									label(for="partName") Part Name
									input(type="text" id="mod-partName" name="partName" class="form-control" placeholder="Partname")
								div(class="form-group col")
									label(for="inputQuantity") Sub-Category
									input(type="text" id="mod-subCat" name="subCat" class="form-control" placeholder="Sub-category")
								div(class="form-group col")
									label(for="value") Value
									input(type="text" id="mod-val" name="val" class="form-control" placeholder="Value")
							#input-row.form-row
								div(class="form-group col")
									label(for="inputQuantity") Part Number
									input(type="text" id="mod-partNum" name="partNum" class="form-control" placeholder="Part Number")
								div(class="form-group col")
									label(for="inputQuantity") Location
									input(type="text" id="mod-loc" class="form-control" name="loc" placeholder="Location")
								div(class="form-group col")
									label(for="qty") Quantity
									input(type="text" id="mod-qty" class="form-control" name="qty" placeholder="Quantity")
							div(class="form-row")
								div(class="form-group col")
									label(for="qty") Notes:
									textarea(class="form-control" id="mod-notes" rows="5" name="notes")
							div(class="form-row")
								label(for="inputQuantity")
								button(id="modifyPart" type="button" class="m-3 btn btn-primary") Save
		//-///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



		//-/////////////////////////SEARCH FORM AND RESULTS/////////////////////////////////////////////////////////////////////////////////////////
		if user && !admin
			p <strong>Hello! To begin checking out click the a search result row below to add the items to your checkout cart. You may edit the quantity in the checkouts tab. To remove an item from your requested check out, click its row in the checkout tab.</strong>
		#search-form-container.container.mt-3
			form(id="search-form" class="mb-3")
				#input-row.form-row
					div(class="form-group col")
						label(for="partName") Part Name
						input(type="text" name="partName" class="form-control part-search-input" placeholder="Partname")
					div(class="form-group col")
						label(for="category") Category
						select(class="form-control part-search-input" name="cat")
							option(value="") 
							option(value="Consumable") Consumable
							option(value="IC") IC
							option(value="MC") MC
							option(value="Equipment") Equipment
							option(value="Sensor") Sensor
							option(value="Display") Display
							option(value="Office Supplies") Office Supplies
							option(value="Other") Other
						//-input(type="text" name="cat" class="form-control part-search-input" placeholder="Category" data-toggle="tooltip" data-placement="top" title="Consumable/IC/MC    Equipment/Sensor/Display  Office Supplies/Other")
					div(class="form-group col")
						label(for="inputQuantity") Sub-Category
						input(type="text" name="subCat" class="form-control part-search-input" placeholder="Sub-category")
					div(class="form-group col")
						label(for="value") Value
						input(type="text" name="val" class="form-control part-search-input" placeholder="Value")
				#input-row.form-row
					div(class="form-group col")
						label(for="inputQuantity") Part Number
						input(type="text" name="partNum" class="form-control part-search-input" placeholder="Part Number")
					div(class="form-group col")
						label(for="inputQuantity") Location
						input(type="text" class="form-control part-search-input" name="loc" placeholder="Location")
					if admin
						div(class="form-group col")
							label(for="qty") Quantity
							input(type="text" class="form-control" name="qty" placeholder="Quantity")
				if admin
					div(class="form-row")
						div(class="form-group col")
							label(for="qty") Notes:
							textarea(class="form-control" rows="5" id="comment" name="notes")
					div(class="form-row")
						label(for="inputQuantity")
						button(id="addPart" type="button" class="m-3 btn btn-primary") Add
						label(for="clearSearchForm")
						button(id="clearSearchForm" type="button" class="m-3 btn btn-info") Clear/Get All
				if LIVE
					a(class="button" href=LIVEADDRESS+"/files/e-club-inventory.xlsx" target="_blank") Download Inventory as Excel
				else
					a(class="button" href="http://localhost:3000/files/e-club-inventory.xlsx" target="_blank") Download Inventory as Excel
		table(class="table table-sm")
			thead
				tr
					th Part Name
					th Category
					th Sub-Category
					th Value
					th Part #
					th Location
					th Qty.
					th # Checked Out
					th Notes
			//- On first load, have the server generate the html
			tbody(id='search-table-body')
				each part in partsInventory
					tr(class="result-row" _id= part._id partName= part.partName)
						td= part.partName
						td= part.cat
						td= part.subCat
						td= part.val
						td= part.partNum
						td= part.loc
						td= part.qty
						td= part.amountCheckedOut
						td= part.notes
	//-//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


	//-///////////////CHECK-OUT-CONTAINER////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	if user
		div(class="container mt-2" id="check-out-container" style="display:none")
			if admin
				div(style="display:none" id="store-unapproved")
				form(id='filter-check-outs-form')
					#input-row.form-row
						div(class="form-group col")
							label(for="show-parts-out") Show Parts Returned
								input(type="checkbox" class='cause-filter' id="show-parts-returned")
					#input-row.form-row
						div(class="form-group col")
							label(for="filter") Enter something to filter out check outs.
							input(type="text" id='check-outs-filter' name='check-outs-filter' class="form-control cause-filter" placeholder="")
			div(class="modal fade" id="modify-check-out-modal")
				div(id="store-check-out" style="display:none")
				div(class="modal-dialog")
					div(class="modal-content")
						#part-options
							div(class="modal-header")
								h4(id="modify-unapproved-check-out-modal-title" class="modal-title") Change qty for checkout below.
								button(type="button" class="close" data-dismiss="modal")
						form(id="modify-check-out-form" class='m-3')
							#input-row.form-row
								div(class="form-group col")
									label(for="quantity") Quantity
									input(type="number" min="1" id="modify-check-out-qty" name="qty" class="form-control" placeholder="Quantity")
							div(class="form-row")
								div(class='form-group col')
									label(for="modify-qty")
									button(id="modify-qty" type="submit" class="m-3 btn btn-primary") Save
								div(class="col")
								div(class='form-group col')
									label(for="remove")
									button(id='remove-unapproved-check-out' type="button" class="m-3 btn btn-warning") Remove
			div(id="check-outs-container")
	//-//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


	//-//////REQUESTS CONTAINER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	if user
		div( class="container" id="requests-container" style="display:none")
			if !admin
				#before-request
					p(class="py-2") Hello! Please use the form below to request parts for the E-Club to buy. Please note a request is <strong>not guaranteed</strong> to be filled. You will receive an email if your request has been filled. All requests that have not been fulfilled will be notified a week prior to the event.
					p(class="pb-2") In your request please be as <strong>detailed as possible and realistic</strong>. Include part numbers when possible. Keep in mind that <strong>we are a volunteer organization</strong> we can not purchase expensive electronic equipment for everyone. If you provide a <strong>source with prices such as an Arrow or Digikey</strong> for your request that will be very helpful as well.
					form(id="request-form")
						#input-row.form-row
							div(class="form-group col")
								label(for="for") What is this request for?
								select(class="form-control" name="for" required)
									option(value="Makeathon") Makeathon
									option(value="Hackathon") Hackathon
									option(value="Personal Project") Personal Project
						#input-row.form-row
							label(for="requestText" required) Request:
							textarea(class="form-control" rows="5" id="request-text" name="requestText" required)
						#input-row.form-row.pt-3
							div.col-md-4
							div.col-md-4.text-center
								button(type="submit" id="submit-request-button" class="btn btn-primary") Submit Your Request
							div.col-md-4
				#after-request.mt-3(style='display:none')
					p Thank you for your request! Please be on the look out for future emails!
				p Your previous requests:
				#user-requests
			if admin
				
				#all-requests.mt-3

	//-/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//-////USERS-CONTAINER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	if admin
		include users-container.pug
	//-/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//-Include the mustache templates.
	include mustache-templates.pug